*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

article {
  margin: 0;
}

button {
  border: none;
  color: #fff;
  font-size: 1.7rem;
  width: 292px;
  height: 60px;
  border-radius: 12px;
  margin: 24px 26px;
}
